{% extends 'student/student_template.html' %}

{% block titleblock %} 
    <title>Student Semester Marks</title>
{% endblock %} 

{% block styleblock %}
	<style>
		.endline {
			border-bottom: 1px solid;
		}
	</style>
{% endblock %}

{% block insertpic %}    
    <img src="" id="pro-pic" alt="Profile picture" width="100%" />
    <div style="visibility: hidden;">
        {{ pro_pic.pic }}
    </div>
{% endblock %}

{% block bodyblock %}
	<h1>Welcome, {{ personal.name }}</h1>
	
	The only payment option currently supported is <strong>Paytm.</strong> <br>
	Scan the following QR code for payment.
	<img src="/static/qrcode.jpeg" alt="QR code" />

{% endblock %}

{% block scriptblock %}
	<script>
		$(".active").removeClass("active");
		$("#sidebar-payment").addClass("active");

		let a = $("a");
        let a0 = a[0];
        let proPic = $("#pro-pic");
        proPic.attr("src", a0.href);
        a0.innerText = "Click to enlarge";
        a0.style = "color:green; background-color: white; text-decoration: underline;"
        $("#pic-clear_id").hide();
        $("label[for='pic-clear_id'").hide();

		$("input[type=text]").addClass("form-control");
		$("textarea").addClass("form-control");
	</script>
{% endblock %}
