{% extends 'student/student_template.html' %}

{% block titleblock %} 
    <title>Student Semester Marks</title>
{% endblock %} 

{% block styleblock %}
	<style>
		.endline {
			border-bottom: 1px solid;
		}
	</style>
{% endblock %}

{% block insertpic %}    
    <img src="" id="pro-pic" alt="Profile picture" width="100%" />
    <div style="visibility: hidden;">
        {{ pro_pic.pic }}
    </div>
{% endblock %}

{% block bodyblock %}
	<h1>Welcome, {{ personal.name }}</h1>
	
	<h3 class="endline">Assignments for download </h3>
	<ol>
		{% for assignment in assignments %}
		<li><a href="/media/{{ assignment.assignment }}">{{ assignment.assignment }}</a> </li>
		{% endfor %}
	</ol>
{% endblock %}

{% block scriptblock %}
	<script>
		$(".active").removeClass("active");
		$("#sidebar-assignment").addClass("active");

		let a = $("a");
        let a0 = a[0];
        let proPic = $("#pro-pic");
        proPic.attr("src", a0.href);
        a0.innerText = "Click to enlarge";
        a0.style = "color:green; background-color: white; text-decoration: underline;"
        $("#pic-clear_id").hide();
        $("label[for='pic-clear_id'").hide();

		$("input[type=text]").addClass("form-control");
		$("textarea").addClass("form-control");
	</script>
{% endblock %}
