{% load static from staticfiles %}

<!DOCTYPE html>

<html>
    <head>
		{% block titleblock %} 
        {% endblock %} 
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

       
        <link rel="stylesheet" href="/static/student-style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        
		{% block styleblock %}
		{% endblock %}

    </head>
    
    <body>
        

        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Student Menu</h3>
            </div>
            
        {% block insertpic %}    
        {% endblock %}
            


            <ul class="list-unstyled components">
                <li class="menu-item active">
                    <a href="{% url 'student:student_home' %}">Home</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'student:student_account' %}">Account</a>
                </li>
                <li class="menu-item">
                    <a href="#">Display Semester Marks</a>
                </li>
                
                <li class="menu-item">
                    <a href="#">Display Unit-Test Marks</a>
                </li>
                
                <li class="menu-item">
                    <a href="#">Online Test</a>
                </li>
                
                <li class="menu-item">
                    <a href="#">Attendance</a>
                </li>
                
                <li class="menu-item">
                    <a href="#">Assignment</a>
                </li>
                
                <li class="menu-item">
                    <a href="#">Notes</a>
                </li>
                
                <li class="menu-item">
                    <a href="#">Payment Details</a>
                </li>

            </ul>
            </nav>
            
            <div id="content" class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        
                        <ul class="list-unstyled components">
                            <li>
                                <button class="btn btn-primary" onclick="alert('Thank you for visiting UEMCRP! You will now be redirected to home.');">
                                    <a href="{% url 'student:student_logout' %}" style="color: white">LOGOUT</a>
                                </button>
                            </li>
                        </ul>

                    </div>
                </nav>
                
                <div id="body" class="container-fluid content navbar-light bg-light">
                    <div id="full" style="width: 980px;
                    background-color: red;
                    visibility: hidden;">full</div>
                    <!-- REST OF THE BODY GOES HERE -->
					{% block bodyblock %}
					{% endblock %}
                </div>
            </div>
            


        
        </div>
          
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		
		{% block scriptblock %} {% endblock %}
    </body>
</html>